<div class="main mt-2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7">
        <h3>You are <%= @debug%></h3>
        <h4>Officers:</h4>
        <ul>
          <% User.all.where(:permissionLevel => 'officer').each  do |user| %>
            <li>
              <%= user.email %>
            </li>
          <% end %>
        </ul>
          
        <h4>Members:</h4>
        <ul>
          <% User.all.each do |user| %>
            <div class="row p-2 border-bottom">
              <li class="col-6">
                <%= user.email %>
              </li>
              <%= button_to "Delete", {:controller => :user, :action => 'destroy', :email => user.email }, :method => :delete, class: "btn btn-danger" %>
            </div>
          <% end %>
        </ul>
      </div>
      <div class="col-12 col-md-5 border">
        <h4 class="text-center pt-2">Register</h4>
        <hr>
        <%= form_with model: @user, class: "p-2" do |f| %>
        
          <div class="row form-group">
            <label class="col-6">Email:</label>
            <%= f.text_field :email, class: "col-6 form-control" %>
          </div>
          
          <div class="row form-group">
            <label class="col-6">Permission Level:</label>
            <select class="col-6 form-control">
              <option>member</option>
              <option>officer</option>
            </select>
          </div>
          
          <div class="row form-group">
            <label class="col-6">LinkedIn Profile:</label>
            <%= f.text_field :linkedInUrl, class: "col-6 form-control" %>
          </div>
          
          <div class="row">
            <div class="col-8"></div>
            <%= f.submit "Create", class: "col-4 btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<p><%= link_to 'Officer home', '/officer'%></p>