<p>here to edit <%= @event.eventName %></p>
<p><%= form_with model: @event, class: "p-2" , method: :put, url: '/event/'+@event.id.to_s do |f| %>
          <div class="row form-group">
            <label class="col-6">Event name:</label>
            <%= f.text_field :eventName, class: "col-6 form-control" %>
          </div>
          
          <div class="row form-group">
            <label class="col-6">Event description:</label>
            <%= f.text_field :eventDescription, class: "col-6 form-control" %>
          </div>
          
          <div class="row">
            <div class="col-8"></div>
            <%= f.submit "Update", class: "col-4 btn btn-primary" %>
          </div>
        <% end %>
    </p>