<div class="main">
  <div class="container">
    <h1>Recent Events</h1>
    
    <ul>
      <% @event.each do |e| %>
        <li>
          <%= link_to e.eventName, 'event/'+e.id.to_s %>: <%=e.eventDescription%> 
        </li>
      <% end %>
    </ul>
    
    <%= form_with model: @user, class: "p-2" do |f| %>
          <div class="row form-group">
            <label class="col-6">Event name:</label>
            <%= f.text_field :eventName, class: "col-6 form-control" %>
          </div>
          
          <div class="row form-group">
            <label class="col-6">Event description:</label>
            <%= f.text_field :eventDescription, class: "col-6 form-control" %>
          </div>
          
          <div class="row">
            <div class="col-8"></div>
            <%= f.submit "Create", class: "col-4 btn btn-primary" %>
          </div>
        <% end %>
  </div>
</div>


