<div class="main">
  <div class="container">
    <h1 class="pt-2">Recent Events</h1>
    
    <ul>
      <% @data.each do |d| %>
        <div class="row border-bottom py-4">
          <div class="col-lg-6 col-12">
            <img class="img-fluid" src="https://hispanicstudies.tamu.edu/wp-content/uploads/sites/6/2015/03/academic-1.jpg">
          </div>
          <div class="col-lg-4 col-12">
            <h4><%= d[0].eventName %></h4>
            <p><%= d[0].eventDescription %></p>
          </div>
          <div class="col-lg-2 col-12">
            <!--<p>Interested? Register <a href="">here</a>.</p>-->
            <!--<p>Registered members:</p>-->
            <!--<ul>-->
            <!--</ul>-->
            <div class="text-center pb-2">
              <button class="btn btn-primary">
                <%= button_to 'Register', :controller => "users_events", :action => 'create',  :method => "post" %>
                <%= button_to 'Unregister',{:controller => "users_events", :action => 'destroy',:id => d[2] }, :method => :delete %>
              </button>  
            </div>
            <h6>Registered Users:</h6>
              <% d[1].each do |user| %>
                <p><%=user.email%></p>
              <% end %>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>


