<div class="main">
  <div class="container">
    <h1 class="pt-2">Recent Events</h1>
    
    <ul>
      <% @events.each do |e| %>
        <div class="row border-bottom py-4">
          <div class="col-lg-6 col-12">
            <img class="img-fluid" src=<%= e.eventImage %>>
          </div>
          <div class="col-lg-4 col-12">
            <h4><%= e.eventName %></h4>
            <p><%= e.eventDescription %></p>
          </div>
          <div class="col-lg-2 col-12">
            <div class="text-center pb-2">
              <% if @eventNameToIfCurrentUserRegistered[e.eventName] %>
                <%= button_to 'Unregister',{:controller => "users_events", :action => 'destroy',:id => e.id }, :method => :delete %>
              <% else %>
                <%= button_to 'Register', :controller => "users_events", :action => 'create',  :method => "post" %>
              <% end %>
            </div>
            <h6>Registered Users:</h6>
              <% @eventNameToListOfUsers[e.eventName].each do |user| %>
                <p><%=user.email%></p>
              <% end %>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>


