<h1>Edit "<%= @announcement.announcementTitle %>"</h1>
<p><%= form_with model: @announcement, class: "p-2" , method: :put, url: '/announcement/'+@announcement.id.to_s do |f| %>
          <div class="row form-group">
            <label class="col-6">Event name:</label>
            <%= f.text_field :announcementTitle, class: "col-6 form-control" %>
          </div>
          
          <div class="row form-group">
            <label class="col-6">Event description:</label>
            <%= f.text_field :announcementText, class: "col-6 form-control" %>
          </div>
          
          <div class="row">
            <div class="col-8"></div>
            <%= f.submit "Update", class: "col-4 btn btn-primary" %>
          </div>
        <% end %>
    </p>